<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% load static %}
    <script src="{% static 'js/script.js' %}" async></script>

    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            {% if "user" in request.session.keys %}
            <div style="padding-left: 10px;">
                <a href="#" class="brand-logo">Hello {{request.session.user.first_name}}</a>
            </div>
            {% endif %}
            <ul class="right">
                <li><a href="/workouts">Home</a></li>
                {% if "user" in request.session %}
                    <li><a href="/login/users/logout">Log Out</a></li>
                {% else %}
                    <li><a href="/login">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main class="container">

        {% block main_content %}

        {% endblock %}

    </main>
</body>
</html>