<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Add Workout</title>
</head>
<body class="container">
    <h1 class="center">Add New Workout</h1>
    <div class="card">
        <form class="card-content" action="/workouts/create" method="POST">
        {% csrf_token %}
            <div class="input-field">
                <input type="text" name="type" id="type" />
                <label for="type">Type of exercise</label>
            </div>

            <div class="input-field">
                <input type="number" name="duration" id="duration" />
                <label for="duration">Workout duration (minutes)</label>
            </div>

            <div class="input-field">
                <textarea class="materialize-textarea" name="notes" id="notes"></textarea>
                <label for="notes">Notes</label>
            </div>

            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</body>
</html>