<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Add Workout</title>
</head>
<body class="container">
    <h1 class="center">Add New Workout</h1>
    <div class="card">
        <form class="card-content" action="/workouts/create" method="POST">
        {% csrf_token %}
            <div class="row">
                <div class="col s12 m6 l4">
                    <div class="input-field">
                        <input type="text" name="type" id="type" value="{{submission.type}}" />
                        <label for="type">Type of exercise</label>
                    </div>
                    <p class="red-text">{{errors.type}}</p>
                </div>

                <div class="col s12 m6 l4">
                    <div class="input-field">
                        <input type="date" name="date" id="date" value="{{submission.date}}" />
                        <label for="date">Date</label>
                    </div>
                    <p class="red-text">{{errors.date}}{% if errors.type %}&nbsp;{% endif %}</p>
                </div>

                <div class="col s12 m4 l4">
                    <div class="input-field">
                        <input type="number" name="duration" id="duration" value="{{submission.duration}}" />
                        <label for="duration">Workout duration</label>
                    </div>
                    <p class="red-text">{{errors.duration}}</p>
                </div>

                <div class="col s12 m8 l12">
                    <div class="input-field">
                        <textarea class="materialize-textarea" name="notes" id="notes">{{submission.notes}}</textarea>
                        <label for="notes">Notes</label>
                    </div>
                </div>

                <div class="center-align col s12">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>