{% extends "base.html" %}

{% block main_content %}

{% if messages %}
<header class="row">
    <div class="card xl4 offset-xl4 l6 offset-l3 m8 offset-m2 s12">
        <div class="card-content center">
            <p class="center">Attempt failed.  Please correct the following errors and try again:</p>
            <ul class="left-align">
                {% for message in messages %}
                <li class="red-text text-darken-2">{{message}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>
{% endif %}

<main class="row">
    <div class="col xl5 offset-xl1 l6 m6 s12">
        <div class="card col s10 offset-s1">
            <h2 class="center card-title">Log In:</h2>

            <form method="POST" action="/login/users/login" class="card-content row">
            {% csrf_token %}

                <div class="input-field col-s12">
                    <input type="email" class="fix_width" name="email">
                    <label for="email">Email address</label>
                </div>

                <div class="input-field col-s12">
                    <input type="password" class="fix_width" name="password">
                    <label for="password">Password</label>
                </div>
    
                <div class="center-align">
                    <button type="submit" class="btn blue darken-1 white-text waves-effect waves-effect-light">
                        Log In
                    </button>
                </div>
            </form>
        </div>
    </div>


    <div class="col xl5 l6 m6 s12">
        <div class="card col s10 offset-s1">
            <h2 class="center card-title">Register:</h2>

            <form method="POST" action="/login/users/register" class="card-content">
            {% csrf_token %}

                <div class="input-field col-s12">
                    <input type="text" name="first_name">
                    <label for="first_name">First name</label>
                </div>

                <div class="input-field col-s12">
                    <input type="text" name="last_name">
                    <label for="last_name">Last name</label>
                </div>

                <div class="input-field col-s12">
                    <input type="email" name="email">
                    <label for="email">Email address</label>
                </div>

                <div class="input-field col-s12">
                    <input type="password" name="password">
                    <label for="password">Password</label>
                </div>

                <div class="input-field col-s12">
                    <input type="password" name="confirm_pw">
                    <label for="confirm_pw">Confirm password</label>
                </div>

                <div class="center-align">
                    <button type="submit" class="btn blue darken-1 white-text waves-effect waves-effect-light">
                        Register
                    </button>
                </div>
            </form>
            
        </div>
    </div>

</main>
{% endblock %}